#aboutusPage{
    margin-top: 5%;
    background-image: linear-gradient(#d1ccc0, @bg-color2);
    @media @mobile{
        margin-top:20%;
        margin-right: 10%;
    }//media close

    .Inspiration{
        display:flex;
        flex-wrap: wrap;
        margin-left: 15%;
        @media @tablet{
            margin-right: 10%;
            margin-left: 10%;
        }//media close
        div {
            padding: 2%;
            width: 25%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            border: 1px dashed #cc8e35;
            margin: 5%;
             @media @mobile{
                width: 100%;
            }//media close
             @media @tablet{
                width: 35%;
            }//media close (tab)
            .img{
                width: 100%;
            }//img close
        }//div close
    }//inspiration close
}//inspopage close