footer{
    margin: 2%;
    padding: 5%;
    
    ul{
        
            list-style: none;
        
    }
    h3{
       .alpha();

    }
    .socials{
        .alpha();
        
            a{
               padding: 2% 5%;
               text-decoration: none;
             
            }
    }
    .contact{
        display: flex;
        justify-content: flex-start;
        font-size: 1.25rem;
    }
    div{
        padding-top: 10%;
        .delta();
    }
}