footer{
    margin: 2%;
    padding: 5%;
    
    ul{
        li{
            list-style: none;
        }
    }
    h3{
       .alpha();

    }
    .socials{
        .alpha();
            a{
               padding: 2px 5%;
            }
    }
    .contact{
        display: flex;
        justify-content: flex-start;
        font-size: 1.25rem;
    }
    div{
        padding-top: 10%;
        .delta();
    }
}