body{
    margin-top: 5%;
    background-image: linear-gradient(@bg-color1, @bg-color2);
    @media @mobile{
        margin-top:20%;
    }
    header{
        h1{
            .alpha();
            align-content: center;
            font-size: 2rem;
            .gamma();
            @media @mobile{
                justify-content: center;
                margin-left: 50%;
            }
        }
        .socials{
            .alpha();
            i{
               padding: 2px 5%;
               @media @mobile{

               }
            }
        
        }
    }
    .topimage {
        position: relative;
        text-align: center;
        color: #B33771;
        
        h2{
            .beta();
            .gamma();
            text-shadow: @header-dec;
            @media @mobile{
                margin-top: 22%;
            }
        }
        button{
            .beta();
            margin-top: 10%;
        }
    }
    .info{
        display:flex;
        margin: 5%;
        margin-top: 10%;
        justify-content: space-between;
        
        div {
            padding: 2%;
            width: 25%;
            p{ 
                .delta();
            }
            h3{
                .gamma();            
                font-size: 1.5rem;
                font-style: italic;
                
            }
        }
    
    }
    
}
img {
    width: 100%;
    @media @mobile{
        display: none;
    }
};


