body{
    margin-top: 5%;
    header{
        .facebook{
            width: 5.5rem;
			height: 5.5rem;
			line-height: 5.5rem;
			border: solid 1px #ffffff;
			border-radius: 100%;
        }
    }
}
img {
    width: 100%;
};

.info{
    display:flex;
    margin: 5% 10%;

}
div {
    padding: 2%;
}