body{
    margin-top: 5%;
    header{
        h1{
            .alpha();
            align-content: center;
            font-size: 2rem;
            .gamma();
        }
        .socials{
            .alpha();
            a{
               padding: 2px 5%;
            }
        
        }
    }
    .topimage {
        position: relative;
        text-align: center;
        color: #B33771;
        h2{
            .beta();
            .gamma();
            text-shadow: @header-dec;
        }
        button{
            .beta();
            margin-top: 10%;
        }
    }
    .info{
        display:flex;
        margin: 5%;
        margin-top: 10%;
        justify-content: space-between;
        
        div {
            padding: 2%;
            width: 25%;
            h3{
                .gamma();            
                font-size: 1.5rem;
                font-style: italic;
                
            }
        }
    
    }
    
}
img {
    width: 100%;
};


