.navbar {
  overflow: hidden;
  background-image: linear-gradient(#6a89cc,#CAD3C8);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  display: flex;
  justify-content: space-around;
  z-index: 100000;

  opacity: .5;
 

    a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    .delta();
    :hover {
      background: #1e3799;
      color: #e55039;
      

    }
  }//a close
}// navbar close