.navbar {
  overflow: hidden;
  background-color: #fbc531;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  a{
    float: left;
    display: block;
    color: #8c7ae6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    :hover {
      background: #e84118;
      color: #dcdde1;
    }
  }//a close
}// navbar close