.navbar {
  .eta(#6a89cc,#CAD3C8);
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  .theta(flex,space-around);
  z-index: 100000;

  opacity: .5;
 

    a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    .delta();
    
  }//a close
}// navbar close