@mobile: ~"(Max-width: 500px)";
@tablet: ~"(Max-width: 800px)";
@bg-color1: #FEA47F; 
@bg-color2:#F97F51;

@font-color: rgb(71, 26, 26);

@header-color: #B33771;
@header-font: 'Pacifico', cursive;
@header-dec: 1px 2px #6D214F;
@p-font: 'Kalam', cursive;
