// Media Query
@mobile: ~"(Max-width: 500px)";
@tablet: ~"(Max-width: 800px)";
// Repetative Colors
@bg-color1: #FEA47F; 
@bg-color2:#F97F51;
@header-color: #B33771;
@font-color: rgb(71, 26, 26);
@header-dec: 1px 2px #6D214F;
// Fonts
@header-font: 'Pacifico', cursive;
@p-font: 'Kalam', cursive;
