@mobile: ~"(Max-width: 500px)";
@tablet: ~"(Max-width: 800px)";
@bg-color: #182C61; //This is not set in stone. I just HATE having red marks on page so I just put a random color.
@font-color: #FD7272;
@header-color: #58B19F;
